<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-img slot="end" class="toplogo" src="assets/logo_01.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <h3>Sobre</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deleniti atque, omnis aut aliquid eveniet cumque, velit veniam dolore accusamus facere suscipit quaerat ratione quod optio hic odit, illo voluptate.</p>

</ion-content>
